@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

@import "./abstracts/variables";
@import "./abstracts/animation";
@import "./abstracts/mixins";

@import "./components/botton";
@import "./components/appWrapper";
@import "./components/navbar";
@import "./components/map";
@import "./components//mapPath";
@import "./components/mapPoint";
@import "./components/levelUnreach";
@import "./components/levelNotFound";
@import "./components/resetButton";
@import "./components/mapScrollHandler";

@import "./pages/levels";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #acf6ff;
  font-family: "Sigmar One";
}

img {
  pointer-events: none;
}

._next {
  width: 100vw;
  height: 100vh;
}
